body{
    font-family: font-family: 'Lato', sans-serif;
    margin: 0;
}

.button{
text-decoration: none;
background-image: linear-gradient(rgb(241, 160, 10), tomato);
padding: 20px 40px;
color: white;
font-weight: 600;
border-radius: 70px;
font-size: 20px;
}

h1{
    font-size: 60px;
    margin: 0;
}

.dark{
    color: rgb(97, 93, 93);
}

.flexible{
    display: flex;
    margin-bottom: 100px;
}

.position{
    width: 45%;
    padding-left: 5%;
    padding-right: 3%;
    
}

.position img{
    width: 107%;
}

#top-clear{
    margin-top: 150px;
}

.orange{
    color: rgb(241, 165, 22);
}

h3{
    margin: 30px 0px;
    padding-right: 30px;
}

.second-position{
    width: 40%;
    padding: 0% 3%;
}
.second-position img{
    width: 70%;
    padding-left: 130px;
    margin-top: 10%;
}
p{
    font-size: 19px;
}

.about-section{
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 6%;
}
    
.fast-bg{
    background-image: url(Images/bg.png);
   
}
.para{
    font-size: 40px;
}
#center{
    text-align: center;
    margin-left: 22%;
    margin-right: 22%;
}
.photo{
    width: 100%;
    
}
.photo img{
    width: 90%;
}

#small{
    width: 75%;
}

.shadow{
    box-shadow: 10px 10px 40px gray;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 0%;
    padding-bottom: 2%;
    margin-right: 3%;
    margin-left: 3%;
    border-radius: 20px;
    margin-top: 3%;
}
.recepies{
    font-weight: 900;
    font-size: 30px;
}

.show-off{
    box-shadow: 10px 10px 30px gray;
    padding-left: 12%;
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 4%;
    padding-bottom: 3%;
    border-radius: 35px;
}
.align{
    margin-left: 6%;
    margin-right: 7%;

}
.down-margin{
    margin-top: 5px;
}
.black{
    background-color: rgb(9, 21, 31);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 8%;
}
.white{
    color: white;
}